body {
  padding: 36px;
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0;
}

td {
  padding: 4px 16px 0px 0px;
}

#content {
  padding: 12px;
}

.menu {
  padding: 10px 0px;
}

.menu a {
  padding: 0px 4px 0px 0px;
}

.pagination {
  padding: 10px 0px;
}

@media only screen and (max-width: 750px) and (min-width: 300px) {
  body {
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
}
