body {
  padding: 36px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0;
  padding: .67em .67em;
}

a {
  color: #00B7FF;
}

td {
  padding: 4px;
}

.news {
  padding: 12px;
  width: 100%;
}

.source-name {
  width: 100px;
}

.pagination {
  padding: 16px;
}
