extends layout

block content
  h1= title
  for newsItem in newsItems
    table(class='news')
      tr(class='item')
        td(class='source-name')
          b #{newsItem.NewsSource.name}
        td(class='headline')
          a(href='#{newsItem.url}') #{newsItem.headline}
