extends layout

block content
  h1= title
  table(class='news')
    for newsItem in newsItems
      tr(class='item')
        td(class='source-name')
          b #{newsItem.NewsSource.name}
        td(class='headline')
          a(href='#{newsItem.url}') #{newsItem.headline}
